.order {
  display: inline-block;
  margin: 10px;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid rgb(222, 221, 221);
  height: 180px;
  overflow: scroll;
}

.ingredient-list {
  list-style-type: none;
  padding: 0;
  width: 150px;
}
